/*Style to get bootstrap inline with Drupal*/

/* Push the top of the bootstrap page down
 * to accomodate for the Drupal admin menu
 * :TODO: Make this conditional */
.navbar-fixed-top {
  /*margin-top: 65px;*/
}

/* Adjust position of autocomplete loader gif to fit padded text fields */
html.js input.form-autocomplete {
  background-position: 100% 6px;
}
