/*Style to get bootstrap inline with Drupal*/

/* Push the top of the bootstrap page down
 * to accomodate for the Drupal admin menu
 * :TODO: Make this conditional */
.navbar-fixed-top {
  /*margin-top: 65px;*/
}

/* Adjust position of autocomplete loader gif to fit padded text fields */
html.js input.form-autocomplete {
  background-position: 100% 6px;
}
ul.tabs.primary li {
  line-height: normal;
}

/* Fix alignment and spacing on node save buttons */
.node-form .form-actions input,
.confirmation .form-actions input {
  margin-right: 4px;
}
.node-form .form-actions .btn {
  margin-bottom: 9px;
}
