/*Style to get bootstrap inline with Drupal*/

/* Push the top of the bootstrap page down
 * to accomodate for the Drupal admin menu */
.toolbar .navbar-fixed-top {
  margin-top: 65px;
}

/* Push primary tabs and messages down below nav bar */
ul.primary {
  padding: 4em 0 0 1em;
}
#messages {
  position:relative;
  top:45px;
}


